<h1>Webmaker Product KPIs</h1>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Warning:</span>
  Data in this demo view may be funky until final hosting is in place. It won't update automatically, and this URL is going to change.
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>KPI</h4>
  </div>
  <div class="col-sm-2 right">
    <h4>Current</h4>
  </div>
  <div class="col-sm-6 center">
    <h4>Recent</h4>
  </div>
  <div class="col-sm-2 right">
    <h4>Target</h4>
  </div>
</div>


<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>UVs</h4>
    <p>Unique Visitors, daily average last X days.</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-uvs">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-uvs'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <h1>15,000</h1>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>UV to New User</h4>
    <p>Conversion Rate: New Users / Unique Visitors</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-uvtonewuser">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-uvtonewuser'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <h1>5%</h1>
    <p>End of Q1</p>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>7 Day Retention</h4>
    <p>% of New Users Still Active 7 Days after Account Creation</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-retention-7day">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-retention-7day'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <h1>10%</h1>
    <p>End of Q2</p>
    <h4>20% end of Q3</h4>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>30 Day Retention</h4>
    <p>% of New Users Still Active 30 Days after Account Creation</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-retention-30day">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-retention-30day'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <h1>10%</h1>
    <p>End of Q4</p>
  </div>
</div>

<hr>
<br /><br />
<h2>Additional Metrics</h2>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>90 Day Retention</h4>
    <p>% of New Users Still Active 90 Days after Account Creation</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-retention-90day">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-retention-90day'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <h4>N/A</h4>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>UV to AU</h4>
    <p>Conversion Rate: Active Users / Unique Visitors <small>Includes new and existing users</small></p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-uvtoau">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-uvtoau'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <h4>N/A</h4>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>UV to EU</h4>
    <p>Conversion Rate: Enaged Users (making) / Unique Visitors</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-UVtoEU">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-UVtoEU'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <h4>N/A</h4>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>AU to EU</h4>
    <p>Engagement Rate: Enaged Users (making) / Active Users</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-AUtoEU">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-AUtoEU'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <h4>N/A</h4>
  </div>
</div>




