<h1>Email Opt-in Rates</h1>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>KPI</h4>
  </div>
  <div class="col-sm-2 right">
    <h4 id="latest-date">Yesterday</h4>
  </div>
  <div class="col-sm-6 center">
    <h4>Last 14 Days</h4>
  </div>
  <div class="col-sm-2 right">
    <h4>Target</h4>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>Email opt-ins</h4>
    <p>per day</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-optins-1day">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-optins-1day'></div>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>1 day opt-in rate</h4>
    <p>% opt-ins each day</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-optin-1day">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-optin-1day'></div>
    </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>30 day opt-in rate</h4>
    <p>Average % opt-ins for the prior 30 days of each snapshot date</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-optin-30days">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-optin-30days'></div>
    </div>
  </div>
</div>

