<h1>RIDs</h1>

<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Warning:</span>
  This dashboard isn't live yet. Move along please ;)
</div>

Show last <select id="date-range" name="periodLengthDays">
  <option value="14">14 days</option>
  <option value="30">30 days</option>
  <option value="90">90 days</option>
  <option value="360">360 days</option>
</select>

<br>

<table id="rids-table" class="table table-striped">
  <thead>
    <th style="display:none;">periodLengthDays</th>
    <th class="referrers" data-dynatable-column="referralCode">Referral ID (RID)</th>
    <th class="values" data-dynatable-column="usersNew">Users (new)</th>
    <th class="values" data-dynatable-column="usersExisting">Users (existing)</th>
    <th class="values" data-dynatable-column="makersNew">Makers (new)</th>
    <th class="values" data-dynatable-column="mvcBadgeNew">MVC Badge Recipients (new)</th>
    <th class="values" data-dynatable-column="mvcBadgeExisting">MVC Badge Recipients (existing)</th>
    <th class="values" data-dynatable-column="eventHostsNew">Hosted or supported an Event</th>
    <th class="values" data-dynatable-column="mentorsNew">Mentor (new)</th>
    <th class="values" data-dynatable-column="mentorsExisting">Mentor (existing)</th>
    <th class="values" data-dynatable-column="superMentorsNew">Super Mentor (new)</th>
    <th class="values" data-dynatable-column="superMentorsExisting">Super Mentor (existing)</th>
  </thead>
  <tbody></tbody>
</table>

