<h1>Learning Networks KPIs <small>2015</small></h1>

<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">About:</span>
  These numbers are updated manually by the Learning Networks team, at this point in time.
</div>

<hr>
<div class="row hidden-sm hidden-xs">
  <div class="col-sm-2">
    <h4>KPI</h4>
  </div>
  <div class="col-sm-2 right">
    <h4 id="latest-date">Latest</h4>
  </div>
  <div class="col-sm-6 center">
    <h4>2015</h4>
  </div>
  <div class="col-sm-2 right">
    <h4>Target</h4>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>Cities</h4>
    <p class="definition">The number of distinct cities where there has been recurring local network activity (e.g. events / meetups / clubs).</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-cities">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-cities'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <p class="visible-sm visible-xs">Target</p>
    <h1>500</h1>
    <p>End of Q4</p>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>People</h4>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-people">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-people'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <p class="visible-sm visible-xs">Target</p>
    <h1>4,000</h1>
    <p>End of Q1</p>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>Hive Cities</h4>
    <p class="definition">The number of cities with a local <a href="http://hivelearningnetworks.org/" target="_blank">Hive Learning Network</a>.</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-hive-cities">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-hive-cities'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <p class="visible-sm visible-xs">Target</p>
    <h1>30</h1>
    <p>End of Q4</p>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>Clubs</h4>
    <p class="definition">The number of <a href="https://teach.mozilla.org/clubs/" target="_blank">Mozilla Web Clubs</a>.</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-clubs">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-clubs'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <p class="visible-sm visible-xs">Target</p>
    <h1>?</h1>
  </div>
</div>

<hr>

{{#if authorized}}

<div class="row">
  <div class="col-sm-4">
    <h3>Post latest numbers:</h3>
    <p>Please check all four values are correct.</p>
    <form class="form-horizontal well" method="get" action="/dashboard/learning-networks/submit">
      <div class="form-group">
        <label for="inputCities" class="col-sm-5 control-label">Cities</label>
        <div class="col-sm-7">
          <input type="number" class="form-control" id="inputCities" name="inputCities" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPeople" class="col-sm-5 control-label">People</label>
        <div class="col-sm-7">
          <input type="number" class="form-control" id="inputPeople" name="inputPeople" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputHiveCities" class="col-sm-5 control-label">Hive Cities</label>
        <div class="col-sm-7">
          <input type="number" class="form-control" id="inputHiveCities" name="inputHiveCities" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputClubs" class="col-sm-5 control-label">Clubs</label>
        <div class="col-sm-7">
          <input type="number" class="form-control" id="inputClubs" name="inputClubs" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-5 col-sm-7">
          <button type="submit" class="btn btn-default btn-primary">Save latest numbers</button>
        </div>
      </div>
    </form>
  </div>
</div>
{{/if}}

