<h1>Mozilla Foundation KPIs</h1>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>KPI</h4>
  </div>
  <div class="col-sm-2 right">
    <h4 id="latest-date">Latest</h4>
  </div>
  <div class="col-sm-6 center">
    <h4>2015</h4>
  </div>
  <div class="col-sm-2 right">
    <h4>Target</h4>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>Learning Network Cities</h4>
    <p>(Active)</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-cities">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-cities'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <h1>500</h1>
    <p>End of Q4</p>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>People (Webmaker Users + TBC)</h4>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-people">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-people'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <h1>250,000</h1>
    <p>End of Q4</p>
  </div>
</div>



