<h1>Mozilla Foundation KPIs <small>2015</small></h1>

<hr>
<div class="row hidden-sm hidden-xs">
  <div class="col-sm-2">
    <h4>KPI</h4>
  </div>
  <div class="col-sm-2 right">
    <h4 id="latest-date">Latest</h4>
  </div>
  <div class="col-sm-6 center">
    <h4>2015</h4>
  </div>
  <div class="col-sm-2 right">
    <h4>Target</h4>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>Learning Network Cities</h4>
    <p class="definition">The number of distinct cities where there has been recurring local network activity (e.g. events / meetups / clubs). <a href="/dashboard/learning-networks">See more KPIs</a>.</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-cities">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-cities'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <p class="visible-sm visible-xs">Target</p>
    <h1>500</h1>
    <p>End of Q4</p>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-2">
    <h4>Webmaker MAUs</h4>
    <p class="definition">The number of users who have be active in the last 30 days. <a href="/dashboard/product-kpis">More Product KPIs</a>.</p>
  </div>
  <div class="col-sm-2 right">
    <h1 id="total-people">loading</h1>
  </div>
  <div class="col-sm-6">
    <div class='row'>
      <div class='col-sm-12' id='graph-people'></div>
    </div>
  </div>
  <div class="col-sm-2 right">
    <p class="visible-sm visible-xs">Target</p>
    <h1>250,000</h1>
    <p>End of Q4</p>
  </div>
</div>



