<h1>Dashboards</h1>


<hr />
<h3><a href="/dashboard/product-kpis"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Webmaker Product KPIs &raquo;</a></h3>
<p>How are we doing against our targets for 2015?</p>

<hr />
<h3><a href="/dashboard/learning-networks"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Learning Networks KPIs &raquo;</a></h3>
<p>How are we doing against our targets for 2015?</p>

<hr />
<h3><a href="/dashboard/email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email Opt-in Rates &raquo;</a></h3>
<p>How many new users opt-in to hear more from us? This is key for early engagement and relationship building.</p>

<hr />
<h3><a href="/dashboard/country"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Country Stats &raquo;</a></h3>
<p>AKA, where is the heat?</p>

{{#if authorized}}

<hr />
<h3><a href="/dashboard/rids"><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span> Webmaker Referral ID Data &raquo;</a></h3>
<p>See which RIDs are driving traffic, which of those bring in new users, and what those users go on to do.</p>

{{/if}}

<hr />
