/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.error {
  color: #428BCA;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
}

footer {
  padding-top: 100px;
}

.terms {
  color: #AAA;
}

th {
  background: #428bca;
}

th.referrers {
  width: 310px;
}

th.countries {
  width: 200px;
}

th.values {
  width: 30px;
  text-align: right;
}

@media (min-width: 768px) {
  .right {
    text-align: right;
  }
}

.center {
  text-align: center;
}




